---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { extractTags } from "./../../util";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => extractTags(post.data.tags)).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      extractTags(post.data.tags).includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header />
      <h3>Posts tagged with "{tag}"</h3>
      <p>
        <ul>
          {
            posts.map((post) => (
              <li>
                <div>
                  <a href={`/blog/${post.id}/`}>
                    {post.data.title} ({post.data.pubDate.getFullYear()})
                  </a>
                  <div>{post.data.description}</div>
                  <div>
                    {post.data.tags.split(",").map((t) => (
                      <div>{`#${t}`}</div>
                    ))}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </p>
    </main>
  </body>
</html>

<style>
  main {
    width: 960px;
  }
</style>
