---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <Header />
      <p>
        Welcome! I'm Marcos, and I'm a programmer based in Brooklyn. I'm a
        software engineer by trade and aspiring polymath all the time. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.
      </p>
      <h3>Recent posts</h3>
      <p>
        <a href="/blog">See all</a>
        <ul>
          {
            posts.slice(0, 3).map((post) => (
              <li>
                <div>
                  <a href={`/blog/${post.id}/`}>
                    {post.data.title} ({post.data.pubDate.getFullYear()})
                  </a>
                  <div>{post.data.description}</div>
                  <div>
                    {post.data.tags.split(",").map((t) => (
                      <div>{`#${t}`}</div>
                    ))}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </p>
    </main>
  </body>
</html>

<style>
  main {
    width: 960px;
  }
</style>
