---
import type { CollectionEntry } from "astro:content";
import TagContainer from "./TagContainer.astro";

type Props = CollectionEntry<"blog">;

const { title, description, pubDate, tags } = Astro.props.data;
const id = Astro.props.id;
---

<div class="blogPreviewContainer">
  <a href={`/blog/${id}/`} class="postLink">
    <div class="titleContainer">
      <span class="title">{title}</span><span class="dotDelimiter">•</span><span
        class="yearPub">{pubDate.getFullYear()}</span
      >
    </div>
  </a>
  <div class="description">{description}</div>
  <div>
    <TagContainer tagsString={tags} />
  </div>
</div>

<style>
  a.postLink {
    text-decoration: none;
    color: var(--black);
    width: fit-content;
  }

  .titleContainer {
    font-size: 1.25rem;
    width: fit-content;
  }

  .title {
    font-weight: bold;
    color: var(--accent);
  }

  .yearPub {
    font-style: italic;
    color: var(--gray);
  }

  .dotDelimiter {
    color: var(--gray);
    margin: 0 5px;
  }

  .blogPreviewContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
</style>
