---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
import PageLayout from "./PageLayout.astro";
import PageContent from "./PageContent.astro";
import TagContainer from "../components/TagContainer.astro";
import { formatDate } from "./../util";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
    <PageLayout>
      <Header />
      <PageContent>
        <article>
          <div class="hero-image">
            {
              heroImage && (
                <Image width={1020} height={510} src={heroImage} alt="" />
              )
            }
          </div>
          <div class="prose">
            <div class="title">
              <h1>{title}</h1>
              <div class="date">
                <div class="publishedDate">
                  Written {formatDate(pubDate)}
                </div>
                {
                  updatedDate && (
                    <div class="updatedDate">
                      Updated {formatDate(updatedDate)}
                    </div>
                  )
                }
              </div>
              <div class="tags">
                <TagContainer tagsString={tags} />
              </div>
              <hr />
            </div>
            <slot />
          </div>
        </article>
      </PageContent>
    </PageLayout>
</BaseLayout>

<style>
  main {
    width: 960px;
    max-width: 100%;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .tags {
    margin-bottom: 0.5em;
  }
  .prose {
    color: var(--black);
  }
  .title {
    margin-top: 1em;
    line-height: 1;
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--gray);
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
